article {
  /*  leverage cascade for cross-browser gradients  */
  background: radial-gradient(
    hsl(181, 100%, 80%),
    hsl(271, 100%, 60%) 
  ) fixed;
  background: conic-gradient(
    hsl(181, 100%, 80%) 
    hsl(279, 100%, 60%), 
    hsl(181, 100%, 80%) 
  ) fixed;
  background-clip: text; /* Standard property */
  -webkit-background-clip: text; /* For WebKit-based browsers */
  -moz-background-clip: text; /* For Mozilla-based browsers */
  -webkit-text-fill-color: transparent;
  text-align: center;
} 

body {
  background: hsl(208, 12%, 25%);
/*   background: conic-gradient(
    hsl(100 100% 60%), 
    hsl(200 100% 60%),
    hsl(100 100% 60%)
  ) fixed; */
  color: white;
  min-block-size: 200vh;
  min-inline-size: 100%;
  padding: 5vmin;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%, 5vmin);
}

h1, p, body {
  margin: 0;
}

h1 {
  font-size: 10vmin;
  line-height: 1.1;
  max-inline-size: 15ch;
  margin: auto;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
  margin-top: 1ch;
  line-height: 1.35;
  max-inline-size: 40ch;
  margin: auto;
}

html {
  block-size: 100%;
  inline-size: 100%;
  text-align: center;
}
.logo {
  height: 8rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.linkedinLogo {
  padding: 2rem;
}
.logo:hover, .gitLink:hover, .linkedinLogo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.luisPhoto {
  height: 20rem;
}
.workTitle{
  padding: 2rem;
}
.exampleScreenshot {
  width: 50rem;
  padding: 2rem;
}
.gitLink {
  width: 5rem;
  margin-left: 2rem;
}
.clickHere {
  font-size: 1rem;
}
p {
  font-size: 2rem;
  padding: 2rem;
}